{% extends "layouts/base.html" %} {% block content %}
<div class="main-content">
    <h2>List Student</h2>
    <br />

    <a class="btn btn-danger" style="margin-bottom: 10px;" href="/register-student">Register</a>

    <table class="table table-bordered datatable" id="table-1">
        <thead>
            <th>Mã sv</th>
            <th>Tên sinh viên</th>
            <th>Tuổi</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Trạng thái</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for st in list_students %}
            <tr>
                <th scope="row">
                    {{ st.id }}
                </th>
                <td>
                    {{ st.name }}
                </td>
                <td>
                    {{ st.age }}
                </td>
                <td>
                    {{ st.address }}
                </td>
                <td>
                    {{ st.email }}
                </td>
                <td>
                    <select name="active" onchange="doitrangthai('{{ st.id }}','{{ st.active }}')">
                    {% if st.active == 1 %}
                        <option value="1" selected>Mở</option>
                        <option value="0">Khóa</option>
                    {% else %}
                        <option value="1">Mở</option>
                        <option value="0" selected>Khóa</option>
                    {% endif %}
                    </select>
                </td>
                <td>

                    <a class="btn btn-danger" type="submit" onclick="delete_class('{{ st.id }}')">Delete</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type='text/javascript'>
        $(document).ready(function() {
            $('#table-1').DataTable();
        });

        function delete_class(id) {
            option = confirm('Bạn có muốn xoá sinh viên này không ?')
            if (!option) {
                return;
            }
            $.post('/delete-student', {
                'student_id': id
            }, function(data) {
                alert('Xóa thành công')
                location.reload()
            })
        }

        function doitrangthai(student_id, acti) {
            option = confirm('Bạn có chắc chắn muốn đổi trạng thái sinh viên này')
            if (!option) {
                return;
            }
            active = acti == 1 ? 0 : 1
            $.post('/update-activate-student', {
                'student_id': student_id,
                'active': active
            }, function(data) {
                alert('Cập nhật trạng thái thành công')
                location.reload()
            })
        }
    </script>
    {% endblock %}